@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
body {
  font-family: "Public Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  color: #2d314d;
}

header {
  margin-top: 1rem;
}
header .btn-container button.btn {
  padding: 0;
  box-shadow: none;
}
.mobile-nav {
  display: none;
  justify-content: space-between;
  position: relative;
}
.mobile-nav .mobile-menu {
  width: 100%;
  margin: auto;
  background: linear-gradient(#2d314d, rgba(150, 152, 166, 0.1));
  position: absolute;
  text-align: center;
  top: 15px;
  height: 600px;
  z-index: 20;
}
.mobile-nav .mobile-menu li {
  font-size: 1.2rem;
}
.mobile-nav .mobile-menu li:not(:last-child) {
  margin-bottom: 1.299rem;
}
.mobile-nav .mobile-menu li a {
  color: #2d314d;
}

.nav {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.nav .desktop-menu {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
.nav .desktop-menu li:not(:last-child) {
  margin-right: 1.5rem;
}
.nav .desktop-menu li a {
  color: #9698a6;
  padding: 0.5rem 0;
  position: relative;
  transition: all linear 400ms;
}
.nav .desktop-menu li a:hover {
  color: #2d314d !important;
  transition: all linear 400ms;
}
.nav .desktop-menu li a:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  bottom: -13px;
  transition: all 0.5s ease-in-out;
  background: linear-gradient(45deg, #31d35c, #2bb7da);
}

main .hero-section {
  background-color: #fafafa;
}
main .hero-section h1 {
  font-weight: 400;
}
main .hero-section p {
  color: #9698a6;
  font-weight: 300;
}
main .hero-bg {
  background-repeat: no-repeat;
}
main .hero-mockups {
  background-image: url("/assets/images/image-mockups.png");
  position: relative;
  background-repeat: no-repeat;
}
main .our-services {
  background-color: #f3f4f6;
}
main .our-services h2 {
  margin-bottom: 1.5rem;
}
main .our-services p {
  color: #9698a6;
  font-weight: 300;
}
main .articles-section {
  background-color: #fafafa;
}
main .articles-section .img-container {
  height: 162px;
  width: 100%;
}
main .articles-section img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 100%;
  width: 100%;
}
main .article-container {
  background-color: white;
  color: #9698a6;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
main .article-container .author {
  margin-top: 0.5rem;
}
main .article-container .title {
  margin: 0.7rem 0;
}

.footer {
  background-color: #2d314d;
}
.footer .social-network {
  display: flex;
}
.footer .social-network a:not(:last-child) {
  margin-right: 0.5rem;
}
.footer ul li {
  margin-bottom: 0.5rem;
}
.footer ul li a {
  color: #f3f4f6;
  font-weight: 400;
  transition: color linear 400ms;
}
.footer ul li a:hover {
  color: #9698a6;
}
.footer span {
  color: #9698a6;
}

a {
  text-decoration: none;
}

.btn.btn-gradient-color:focus {
  box-shadow: none;
  outline: none;
}

.btn-gradient-color {
  background: linear-gradient(45deg, #31d35c, #2bb7da);
  border-radius: 3.75rem;
  color: white;
  font-size: 14px;
  padding: 0.4rem 1.5rem;
  transition: all linear 400ms;
}
.btn-gradient-color:hover {
  opacity: 0.6;
  color: white;
}

@media screen and (min-width: 1440px) {
  .max-width {
    max-width: 1440px;
  }
}
@media screen and (max-width: 460px) {
  main .custom-xs {
    width: 100% !important;
  }
  main .hero-bg {
    height: 290px !important;
  }
  main .hero-mockups {
    height: 380px;
    background-size: 352px !important;
    background-position: center -124px !important;
  }
  main .our-services {
    padding-top: 3rem;
  }
  main .our-services h2 {
    font-size: 1.4rem;
  }
  main .our-services h5 {
    font-size: 1.1rem;
  }
  main .our-services p {
    font-size: 14px;
  }
  main .article-container .author {
    font-size: 11px;
  }
  main .article-container .description {
    font-size: 11px !important;
  }

  .footer .social-network {
    justify-content: center;
  }
  .footer ul li {
    font-size: 0.8rem;
  }
  .footer span {
    font-size: 11px;
  }
}
@media screen and (max-width: 575px) {
  main .hero-section h1 {
    font-size: 2.3rem;
  }
  main .hero-section p {
    font-size: 15px;
  }
  main .hero-bg {
    background-image: url("/assets/images/bg-intro-mobile.svg");
    background-size: 100%;
    background-position: 7% 39%;
    height: 330px;
  }
  main .hero-mockups {
    height: 395px;
    background-size: 400px;
    background-position: center -143px;
  }
  main .our-services {
    padding-top: 3rem;
  }
  main .our-services h2 {
    font-size: 1.7rem;
  }
  main .our-services h5 {
    font-size: 1.1rem;
  }
  main .our-services p {
    font-size: 14px;
  }
  main .article-container .author {
    font-size: 11px;
  }
  main .article-container .title {
    font-size: 1rem;
  }
  main .article-container .description {
    font-size: 12px;
  }

  .footer .social-network {
    justify-content: center;
  }
  .footer ul li {
    font-size: 0.8rem;
  }
  .footer span {
    font-size: 11px;
  }
}
@media (min-width: 576px) {
  main .hero-section h1 {
    font-size: 1.5rem;
  }
  main .hero-section p {
    font-size: 13px;
  }
  main .hero-bg {
    background-image: url("/assets/images/bg-intro-desktop.svg");
    background-position: 7% 39%;
    height: 330px;
  }
  main .hero-mockups {
    height: 500px;
    background-size: 400px;
    background-position: 67px -58px;
  }
  main .our-services {
    padding-top: 3rem;
  }
  main .our-services h2 {
    font-size: 1.4rem;
  }
  main .our-services h5 {
    font-size: 1.1rem;
  }
  main .our-services p {
    font-size: 14px;
  }
  main .article-container .author {
    font-size: 11px;
  }
  main .article-container .title {
    font-size: 0.8rem;
  }
  main .article-container .description {
    font-size: 12px;
  }

  .footer .social-network {
    justify-content: center;
  }
  .footer ul li {
    font-size: 0.8rem;
  }
  .footer span {
    font-size: 11px;
  }
}
@media (min-width: 768px) {
  nav {
    align-items: center;
  }

  main .hero-section h1 {
    font-size: 2.5rem;
  }
  main .hero-section p {
    font-size: 16px;
  }
  main .hero-bg {
    background-position: 8% 49%;
    height: 450px;
  }
  main .hero-mockups {
    background-size: 486px;
    background-position: 81px -73px;
    height: 800px;
  }
  main .our-services h2 {
    font-size: 1.5rem;
  }

  .footer .social-network {
    justify-content: start;
  }
  .footer .social-network a {
    font-size: 0.8rem !important;
  }
  .footer ul li {
    font-size: 0.8rem;
  }
  .footer span {
    font-size: 11px;
  }
}
@media (min-width: 992px) {
  .nav {
    align-items: center;
  }

  main .hero-bg {
    background-position: -1% 57%;
    height: 550px;
  }
  main .hero-mockups {
    background-size: 653px;
    background-position: 148px -107px;
  }
  main .our-services {
    padding-top: 5rem;
  }
  main .our-services h5 {
    font-size: 1.25rem;
  }
  main .our-services p {
    font-size: 16px;
  }
  main .article-container .author {
    font-size: 11px;
  }
  main .article-container .title {
    font-size: 1rem;
  }
  main .article-container .description {
    font-size: 14px;
  }

  .footer .social-network {
    margin-top: 2rem;
  }
  .footer ul li {
    font-size: 1rem;
  }
  .footer span {
    font-size: 12px;
  }
}
@media (min-width: 1200px) {
  main .hero-mockups {
    background-size: 700px;
    background-position: 210px -109px;
  }
}

/*# sourceMappingURL=styles.css.map */
